@model Fall2025_Project3_cjhirschey.Models.ActorMovie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor-Movie</h4>
    <hr />

    <table class="table metadata-table">
        <thead><tr><th>Field</th><th>Value</th></tr></thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Actor)</td>
                <td>
                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.ActorId">@Model.Actor?.Name</a>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Movie)</td>
                <td>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieId">@Model.Movie?.Title</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
